{{#section 'head'}}
    <link rel="stylesheet" href="/css/about.min.css">
{{/section}}



<section class="container">
    <div class="container-header">
        <div class="row">
            <img class="col-12 img-fluid" src="/img/nav/about.svg">
            <h1 class="col-12 text-center">About</h1>
        </div>
    </div>
    <div class="subheader">
        <h1>Get more out of your gametime.</h1>
        <h4>
            Gamecat rewards you for doing what you love- playing some of the best new video games.
        </h4>
    </div>
    <section class="row about-content">
        <div id="top" class="content-row row">
            <div class="col-md-8">
                <h2>By gamers, for gamers.</h2>
                <p>
                    Welcome to GameCat- we're a small team of longtime gamers who fondly remember the days before microtransactions were the norm.
                    We realized that in today's world if you want to be at the top of your game you need to be able to spend your hard earned bucks.
                </p>
            </div>

            <div class="col-md-4">
                <img src="/img/cats/sasha.jpg" alt="Sasha the cat" class="img-fluid">
            </div>
        </div>

        <div id="mid" class="content-row row">
            <div class="col-md-4">
                <img src="/img/cats/vito.jpg" alt="Vito the cat" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2>Democratizing microtransactions.</h2>
                <p>
                    Whether it's unlocking in-game items that help you play, or the sick cosmetics that rule Fortnite, we want to make it easier for you - the average gamer - to have access to all the newest content.
                    Providing easy to earn gift cards, microtransactions will be far from the limit of what you can get through GameCat, anything from the newest games to gear on Amazon.
                </p>
            </div>

        </div>

        <div id="bot" class="content-row row">
            <div class="col-md-8">
                <h2>No scams, no spam.</h2>
                <p>
                    We launched early 2019, and with our team's experience on other survey websites, our biggest emphasis in both customer support and development has been avoiding the drama that other survey websites are made of.
                    We don't believe in mysteriously deleting a user's profile right before they cash out and we especially hate it when you have to complete 50 offers for just 5 dollars.
                    By teaming up with only the best advertisers we bring you the highest profits of any survey website and a website thats constantly up-to-date with the latest in gaming and user feedback.
                    The most important members of our team are our furry developer friends, they're the ones that made this website possible!

                </p>
            </div>

            <div class="col-md-4">
                <img src="/img/cats/mocha.jpg" alt="Mocha the cat" class="img-fluid">
            </div>
        </div>
    </section>
</section>

<script src="/js/views/offers.js"></script>
