{{#section 'head'}}
{{/section}}



<section class="container">
    <div class="container-header">
        <div class="row">
            <img class="col-12 img-fluid" src="/img/layout/about.svg">
            <h1 class="col-12 text-center">About</h1>
        </div>
    </div>

    <h1>Get more out of your gametime.</h1>
    <p>
        Gamecat rewards you for doing what you love- playing some of the best new video games.
    </p>
</section>

<script src="/js/views/offers.js"></script>
