{{#section 'head'}}

{{/section}}

{{#section 'body_scripts'}}

{{/section}}

<section class="container">
    <div class="container-header">
        <div class="row">
            <img class="col-12 img-fluid" src="/img/layout/accountpage.svg">
            <h1 class="col-12 text-center">Your Account</h1>
        </div>
    </div>



</section>
