{{#section 'head'}}
    <style>
        img.img-fluid{
            max-height: 128px;
        }
        .submit-row{
            text-align: center !important;
        }
    </style>
    <meta property="og:url" content="https://www.gamecat.co/contact" />
    <meta property="og:description" content="Contact Gamecat if you want to become a promoter, get better deals, or suggest new features!" />

{{/section}}

{{#section 'body_scripts'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" defer></script>
{{/section}}

<section class="card center-vertical">
    {{>container_header header_text="Contact"}}
    {{>contact}}
</section>

{{>"modals/alert"}}
{{>"modals/form-errors"}}

