<section class="container">
    {{>container_header header_image="/img/nav/signup.svg" header_text="Sign Up"}}
    <div class="text-center">
        <h1>You're almost there!</h1>
        <p>Just make sure this information is correct.</p>
    </div>

    <form action="/login/finalize" method="post" id="finalize_social" class="px-5">
        <div class="form-group row">
            <div class="col-6">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" class="form-control">
            </div>
            <div class="col-6">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group col-12">
                <label for="referrer">Referrer</label>
                <input type="text" name="referrer" id="referrer" placeholder="Referrer" class="form-control">
            </div>
        </div>
        <button type="submit" id="account-form-btn2" class="btn btn-primary" form="finalize_social">Submit</button>
    </form>
</section>
