{{#section 'head'}}
    <meta property="og:url" content="https://www.gamecat.co/" />
    <meta property="og:description" content="Gamecat is an exclusive rewards program for gamers, by gamers. Play new games, watch videos, and get paid!" />
    <link rel="stylesheet" href="/css/social-login.min.css">
    <link rel="stylesheet" href="/css/rewardsCarousel.min.css">
    <link rel="stylesheet" href="/css/index.min.css">
{{/section}}

{{#section 'body_scripts'}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
{{/section}}

<section class="hero">
    <div class="overlay">
        <img class="mascot-img" src="/img/nav/nav-logo.svg">
    </div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/video/main.mp4" alt="hero video" type="video/mp4">
    </video>

</section>

<section class='container'>
    {{>widgets/eventNotifier event=event modifierText=modifierText}}
    <div id="top-banner-group">
        <div class="row" id="top-info">
            <div class="landing-description">
                <h1>Welcome to Gamecat.</h1>
                <hr />
                <p>
                    Gamecat is an exclusive rewards site where you can earn gift cards for Steam, Amazon, League of Legends,
                    iTunes and more! Made by a dedicated team of gamers, for gamers, you can wave goodbye to all the scams
                    and spam and impress your friends with all the new loot you'll acquire. Earn crystals to spend on rewards,
                    and level up to gain more and more crystals every day!
                </p>
            </div>
        </div>


        <div class="row banner-info" id="signup-banner">
            <form class="text-center justify-content-center signup-form" method="get" action="/signup">
                <h2 class="text-center">Sign up and earn today!</h2>
                {{>social_login}}
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required />
                </div>
                <div class="form-group text-right">
                    <input type="checkbox" name="agree" value="true" class="form-check-input" id="agree" required />
                    <label for="agree" class="form-check-label">
                        I agree to recieve emails from Gamecat as well as the
                        <a href="/tos">terms of service</a>.
                    </label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>

    </div>

    <div class="row banner-info" id="how-work">
        <div class="col-12 banner-info-header">
            <h1>How it works</h1>
        </div>

        <div class="col-md-4" id="complete-quests">
            <img src="/img/quest.svg" alt="Complete quests!" class="img-fluid" />
            <h2 class="text-center">1. Complete quests.</h2>
            <p>
                Play new games, fill out surveys, or try out free trials for sites like Hulu, to level up and earn
                rewards! For every quest you complete you earn <img src="/img/crystal.svg" alt="crystals" class="crystal-ico" />
                and experience. Every time you level up you will get a 2.5% bonus to your rewards and a bonus reward.
            </p>
        </div>
        <div class="col-md-4" id="tell-friends">
            <img src="/img/friend.svg" alt="Invite your friends!" class="img-fluid" />
            <h2 class="text-center">2. Tell your friends.</h2>
            <p>
                Got a Discord server? You and your friends can both earn 400 free
                <img src="/img/crystal.svg" alt="crystals" class="crystal-ico" /> when they earn 800 themselves if they
                sign up using your personal invite code. Not to mention you can earn up to 5% of whatever your referrals
                earn. You can also <a href="/contact">partner with
                us</a> for even better deals.
            </p>
        </div>
        <div class="col-md-4" id="get-loot">
            <img src="/img/treasure.svg" alt="Get paid!" class="img-fluid" />
            <h2 class="text-center">3. Get epic loot.</h2>
            <p>
                Once you've saved up as little as 5000 <img src="/img/crystal.svg" alt="crystals" class="crystal-ico" />
                you can exchange them for gift cards, premium currency, steam wallet, and more to be announced. If you
                don't see what you want on the store you can always contact one of our staff members
                to suggest new products.
            </p>
        </div>
    </div>

    <div class="row banner-info" id="dailybonus">
        <div class="col-12 banner-info-header">
            <h1>New Bonuses Every Day.</h1>
        </div>
        <div class="row feature" >
            <div class="col-md-9">
                <p>
                    Check in every day and complete a quest or survey and get sweet bonuses- the first one you complete
                    each day will give you 50% more bonus crystals. This makes it incredibly easy to get whatever skin
                    or new game you're after. No other site gives you as many bonuses and rewards as Gamecat. We also run
                    events where you can earn up to twice as much! Make sure to check in and claim all your rewards.
                </p>
            </div>
            <div class="col-md-3">
                <img src="/img/nav/earn.svg" class="img-fluid">
            </div>

        </div>
    </div>

    <div class="row banner-info" id="levelup">
        <div class="col-12 banner-info-header">
            <h1>Level Up!</h1>
        </div>
        <div class="row feature" >
            <div class="col-md-3">
                <img src="/img/levelup.svg" class="img-fluid">
            </div>

            <div class="col-md-9">
                <p>
                    Every time you refer a friend or complete a quest or survey you gain experience! For each level you
                    achieve you get a 2.5% bonus to <i>EVERY</i> quest and survey you complete. You also get a sizeable
                    stack of crystals as a reward. You can reach a max level of 20 which gives you a huge 50% bonus on
                    every activity you complete!
                </p>
            </div>
        </div>
    </div>


    <div class="row banner-info" id="rewards">
        <div class="col-12 banner-info-header">
            <h1>Rewards</h1>
        </div>

        <div class="col-md-6" id="get-paid-to-play">
            <div class="row">
                <img src="/img/nav/nav-logo.svg">
            </div>
            <div class="row">
                <h1 class="stylistic-header" id="get-paid">
                    Get Paid To Play.
                </h1>
            </div>
        </div>

        <div class="col-md-6 justify-content-center">{{>widgets/rewardsCarousel prizes_list = prizes}}</div>
    </div>

</section>
