{{#section 'head'}}
    <meta name="google-signin-client_id" content="1030276056125-vtv82bgbggango3bd351ijfc3drl7j3u.apps.googleusercontent.com">
    <meta name="google-signin-redirect_uri" content="https://gamecat.co/login/google/callback">
    <meta name="google-signin-scope" content="profile email openid">
    <link rel="stylesheet" href="/css/login.css">
{{/section}}

{{#section 'body_scripts'}}
    <script src="/js/views/login.min.js"></script>
    <script src="/js/controllers/loginController.min.js"></script>
    <script src="/js/form-validators/loginValidator.min.js"></script>
    <script src="/js/form-validators/emailValidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" defer></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=1155941491256574&autoLogAppEvents=1"></script>
{{/section}}

<div id="login" class="container">
    <form method="post">
        <figure><img src="/img/login.svg"></figure>
        <div class="form-group"><input type="text" id="user-tf" name="username" class="form-control" placeholder="Username"></div>
        <div class="form-group"><input type="password" id="pass-tf" name="password" class="form-control" placeholder="Password"></div>
        <div id="row1"><button type="button" id="btn_remember" class="btn btn-dark btn-left"><span class="fa fa-check-square"></span>Remember Me</button><button type="submit" id="btn_sign_in" class="btn btn-primary"><span class="fa fa-lock"></span>Sign In</button></div>
        <hr>

        <div class="btm-links">
            <div id="forgot-password"><a href="#">Forgot Your Password?</a></div>
            <div id="create-account"><a href="/signup">Create An Account</a></div>
        </div>
    </form>

    <div class="row social-login">
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
        {{>googlesignin}}
    </div>

</div>

{{>"modals/alert"}}
{{>"modals/lost-password"}}


