<section class="container">
    <h1>Gamecat Privacy Policy</h1>
    <hr />
    <h3>Purpose of this Policy</h3>
    <p>
        Gamecat respects your privacy and takes the protection of personal information very seriously. Gamecat protects all personal information it obtains from its users and complies with the country-specific privacy and security laws and practices of the various countries where its users reside.
        This notice contains information about how we handle your personal information.
    </p>
    <h3>Information we collect</h3>
    <p>
        The personal information we collect may include your name, email address, password, time spent on the website, revenue generated, location, ISP address, and other information associated with your Gamecat and Google accounts. We collect this personal information only where necessary to enable users to earn points.
    </p>
    <h3>Links</h3>
    <p>
        Gamecat contains links to other websites or internet resources. When you click on one of those links you are contacting another website or Internet resource that may collect information about you voluntarily or involuntarily through cookies or other technologies. Gamecat has no responsibility, liability for, or control over those other websites or internet resources or their collection, use and disclosure of your personal information. You should review the privacy policies of those other Websites and Internet resources to understand how they collect and use information.

    </p>
    <h3>Security of information</h3>
    <p>
        We maintain Information Security policies and procedures designed to keep Personal Information we own, license and process from being accessed by any unauthorized party. From time to time Gamecat receives personal information about individuals from third parties. We maintain the security of this information to the extent possible.

    </p>
    <h3>Cookies</h3>
    <p>
        Like many other websites, Gamecat may automatically collect certain non-identifiable information regarding users, such as the Internet Protocol (IP) address of your computer, the IP address of your Internet Service Provider, the date and time you access the website, the internet address of the website from which you linked directly to the website, the operating system you are using, the sections of the website you visit, the website pages accessed, the information viewed, and the materials you download from the website. This non-identifiable information is used for system administration purposes and to improve the website.
        Gamecat uses "cookies", a technology that installs information on a website user's computer to permit the website to recognize future visits using that computer. Cookies enhance the convenience and use of the website. For example, the information provided through cookies is used to recognize you as a previous user of the website, to track your activity on the website in order to respond to your needs, to offer personalized web page content and information for your use, to automatically populate online forms with your personal information for your convenience, and to otherwise facilitate your website experience.
        Advertisements displayed on the website may also contain cookies or other technologies. Those advertisements may be provided by third party advertising companies, and Gamecat does not have any control over, or any responsibility or liability for, the cookies or other technologies used in the advertisements or for the use and disclosure of information collected through advertisement cookies.
        You may choose to decline cookies if your browser permits, but doing so may affect your use of the website and your ability to access or use certain website features.

    </p>
    <h3>Transferring personal data from the EU to the US</h3>
    <p>
        Gamecat has its headquarters in the United States. Information we collect from you will be processed in the United States. The United States has not sought nor received a finding of “adequacy” from the European Union under Article 45 of the GDPR. Gamecat relies on derogations for specific situations as set forth in Article 49 of the GDPR. In particular, Gamecat collects and transfers to the U.S. personal data only: with your consent; to perform a contract with you; or to fulfill a compelling legitimate interest of Gamecat in a manner that does not outweigh your rights and freedoms. Gamecat endeavors to apply suitable safeguards to protect the privacy and security of your personal data and to use it only consistent with your relationship with Gamecat and the practices described in this Privacy Notice. Gamecat also minimizes the risk to your rights and freedoms by not collecting or storing sensitive information about you.
        EU Residents have the right to confirm that Gamecat is processing your personal data, or to have access to the personal data Gamecat may have about you, please contact us at: support@gamecat.co.
        You may also request information about: the purpose of the processing; the categories of personal data concerned; who else outside Gamecat might have received the data from Gamecat; what the source of the information was (if you didn’t provide it directly to Gamecat); and how long it will be stored. You have a right to correct (rectify) the record of your personal data maintained by Gamecat if it is inaccurate. You may request that Gamecat erase that data or cease processing it, subject to certain exceptions. You may also request that Gamecat cease using your data for direct marketing purposes. In many countries, you have a right to lodge a complaint with the appropriate data protection authority if you have concerns about how Gamecat processes your personal data. When technically feasible, Gamecat will—at your request—provide your personal data to you or transmit it directly to another controller.
        Reasonable access to your personal data will be provided at no cost to Gamecat members, conference attendees and others upon request made to Gamecat at support@gamecat.co. If access cannot be provided within a reasonable time frame, Gamecat will provide you with a date when the information will be provided. If for some reason access is denied, Gamecat will provide an explanation as to why access has been denied.

    </p>
    <h3>Security of your information</h3>
    <p>
        To help protect the privacy of data and personally identifiable information you transmit through the use of this Site, we maintain physical, technical and administrative safeguards. We update and test our security technology on an ongoing basis. We restrict access to your personal data to those employees who need to know that information to provide benefits or services to you. In addition, we train our employees about the importance of confidentiality and maintaining the privacy and security of your information. We commit to taking appropriate disciplinary measures to enforce our employees' privacy responsibilities.

    </p>
    <h3>Data storage and retention</h3>
    <p>
        Your personal data is stored by Gamecat on its servers, and on the servers of the cloud-based database management services Gamecat engages, located in the United States. Gamecat retains data for the duration of the customer’s or member’s business relationship with Gamecat. For more information on where and how long your personal data is stored, and for more information on your rights of erasure and portability, please contact Gamecat at support@gamecat.co
        We reserve the right to amend the Privacy Notice and Conditions of Use at any time, for any reason, without notice to you, other than the posting of the amended Privacy Notice and Conditions of Use at this Site. We may e-mail periodic reminders of our notices and terms and conditions and will e-mail Gamecat users of material changes thereto, but you should check our Site frequently to see the current Privacy Notice and Conditions of Use that is in effect and any changes that may have been made to it.

    </p>
    <h3>Terms and Conditions of Use</h3>
    <p>  By using this Site, you agree to the terms and conditions contained in this Privacy Notice and Conditions of Use and/or any other agreement that we might have with you. If you do not agree to any of these terms and conditions, you should not use this Site or any Gamecat benefits or services. You agree that any dispute over privacy or the terms contained in this Privacy Notice and Conditions of Use, or any other agreement we have with you, will be governed by the laws of the State of North Carolina. You also agree to arbitrate such disputes in North Carolina, and to abide by any limitation on damages contained in any agreement we may have with you.
    </p>
    <h3> Contact information</h3>
    <p>
        For questions or concerns, please contact:  support@gamecat.co
    </p>
</section>
