{{#section 'head'}}
    <link rel="stylesheet" href="/css/signup.css">
{{/section}}

{{#section 'body_scripts'}}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/views/signup.min.js" async defer></script>
    <script src="/js/form-validators/accountValidator.min.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" defer></script>
{{/section}}

<section class="container">

    {{>container_header header_image="/img/nav/signup.svg" header_text="Sign Up"}}

    {{>"registration" ref_by=ref_by}}
</section>

{{>"modals/form-errors"}}
{{>"modals/alert"}}
