#account-form-container {
  label {
    text-align: right;
    margin-top: 2px;
  }
  input, select {
    font-size: 0.875rem;
  }
  .col-sm-9 {
    padding-left: 0;
  }
  .margin-zero {
    margin-bottom: 0;
  }
  .form-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .form-buttons>:not(:last-child) {

    margin-right: 0.5rem;
  }
}
