$base-color: #212121;
$lighter-base: #353535;
$body-bg: #505050;
$dialogue-background: #495057;
$accent-cyan: #26aeda;
$accent-cyan-darker: #389bda;
$accent-purple: #c6a1fc;
$accent-red: #f3685c;
$accent-green: #4bd827;
$accent-yellow: #ffff50;
$accent-orange: #f6a923;
$accent-gold: #f2ba4a;
$secondary-purple: #767D92;
$accent-blue: #3700B3;
$button-green: #52bb6f;
$landing-header-bg: #8b33bb;
$muted-purple: #574f57;

$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
