$base-color: #212121;
$body-bg: #303030;
$dialogue-background: #495057;
$accent-cyan: #03DAC6;
$accent-purple: #c6a1fc;
$accent-green: #86bb73;
$accent-yellow: #f6df74;
$accent-orange: #f6a923;
$secondary-purple: #767D92;
$accent-blue: #3700B3;

