$base-color: #212121;
$lighter-base: #272727;
$body-bg: #303030;
$dialogue-background: #495057;
$accent-cyan: #26aeda;
$accent-cyan-darker: #389bda;
$accent-purple: #c6a1fc;
$accent-green: #86bb73;
$accent-yellow: #ffff50;
$accent-orange: #f6a923;
$secondary-purple: #767D92;
$accent-blue: #3700B3;
$button-green: #52bb6f;
