@import 'base';
.container{
  overflow: hidden;
  padding: 0;
  background-color: $base-color;
}
.jumbotron{
  background-image: url('/img/jumbotron.webp');
  min-height: 50vh;
  margin-bottom: 0;
}

.display-4{
  color: white;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}

.index-info{
  background-color: $secondary-purple;
  margin-bottom: 20px;
  .index-desc{
    text-align: center;
    min-height: 60px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
  }
}

.info-bar {
  margin-left: -15px;
  margin-top: -20px;
  .banner-info{
    padding: 30px;
    box-sizing: border-box;
    min-height: 215px;
    h2{
      margin-top: 50px;
      font-size: calc(1.2em + 1vw);
    }
    img{
      max-width: 100%;
      max-height: 175px;
      line-height: 100%;
    }

  }

  #complete-quests{
    background-color: $dialogue-background;
  }
  #epic-loot{
    background-color: $accent-cyan;
    justify-content: right;
    &>h2{
      text-align: right;
    }
  }
  #play-for-keeps{
    background-color: $dialogue-background;
    justify-content: center;
    &>h2{
      font-size: 48px;
      color: $accent-purple;
    }
  }
}

#login{
  position: fixed;
  width: 25vw;
  height: 33vw;
  z-index: 4;
  form{
    background-color: $base-color;
  }
}

.graphic-panel{
  padding: 0;
}

.signup-index{
  padding: 0;
  background-color: $lighter-base;
}
