@import "base";
.hero {
  position: relative;
  background-color: black;
  height: 45vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  -moz-box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $lighter-base;
    opacity: 0.3;
    z-index: 1;
    text-align: center;
    .mascot-img{
      height: 90%;
      position: center;
      margin-top: 30px;
      @media screen and(max-width: $breakpoint-md){
        width: 100%;
        height: auto;
      }
    }
  }

  #tagline{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    justify-content: center;
    z-index: 3;
    display: block;
    text-align: center;
    h3{
      color: #fff;
    }
  }
}


.container{
  #top-banner-group{
    background-color: $accent-purple;
    margin-left: -15px;
    margin-right: -15px;
  }

  #top-info{
    padding: 25px;
    .landing-description{
      margin-top: 40px;
      h1{
        text-align: center;
      }
      p{
        font-size: 18px;
        padding: 20px;
      }
    }
  }

  #signup-banner{
    background-color: $base-color;
    justify-content: center;
    padding: 60px;
    border-radius: 300px 300px 0 0;
  }

  #how-work{
    margin-left: -15px;
    margin-right: -15px;
    #complete-quests{
      padding: 20px;
      background-color: $accent-cyan-darker;
    }
    #tell-friends{
      padding: 20px;
      background-color: $lighter-base;
    }
    #get-loot{
      padding: 20px;
      background-color: $dialogue-background;
    }
  }


}
#rewards{
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 25px;
  background-color: $lighter-base;
  #rewards-list{
    padding: 35px;
  }
}

.form-check-label{
  font-size: 12px;
}

.banner-info-header{
  background-color: $secondary-purple;
  -webkit-box-shadow: 0 5px 15px 2px rgba(50,50,50,1);
  -moz-box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  margin-bottom: 0;
  padding: 25px;
  z-index: 2;
}



.reward-item{
  margin: 25px 0 25px;
  .reward-img{
    max-height: 250px;
  }
  .reward-name{
    margin-top: 25px;
    text-align: center;
  }
}



#signup{
  margin-left: 40px;
  max-height: 200px;
  width: auto;
}
