@import "base";
#login {
  width: 380px;
  .btn {
    float: left;
    width: 48%;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .btn-btm {
    padding: 0;
  }
  .btn-left {
    margin-right: 4%;
  }
  #btn_sign_in {
    color: white;
  }
  #btn_remember {
    background: $accent-cyan;
    border: 1px solid #ced4da;
    color: white;
  }
  #btn_remember:hover {
    background: $accent-cyan-darker;
  }
  h6, label {
    font-size: 0.8rem;
  }
  h6, label{
    color: white;
  }
  .fa {
    padding-right: 10px;
  }
  hr {
    clear: left;
  }
  .btm-links {
    font-size: 0.8rem;
    margin: 2px 0 0 0;
    #forgot-password {
      float: left;
      margin-left: 16px;
    }
    #create-account {
      float: right;
      margin-right: 20px;
    }
  }
}
