@import 'base';
@import 'modals';
@import 'nav';

@mixin raiseText() {
  color: grey;
  text-shadow: -1px 1px 0 white;
  -moz-text-shadow: -1px 1px 0 white;
  -webkit-text-shadow: -1px 1px 0 white;
}

.row{
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}

hr {
  margin: 14px 0;
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(255, 255, 255);
}

p {
}

ul {
  margin: 4px 0 0 0;
}




input{
  background-color: $dialogue-background;

}

.card{
  background-color: $base-color;
}

form{
  box-sizing: border-box;
  padding: 15px;

  .header-reg{
    padding-top: 15px;
  }
  h2{
    color: $accent-cyan;
  }
  label, h6  {
    color: white;
    text-shadow: none;
    font-size: 13px;
    font-weight: normal;
  }
  .form-buttons{
    margin-top: 10px;
    justify-content: right;
  }

}

.form-control{
  background-color: $dialogue-background;
  color: white;
  &:focus{
    background-color: $dialogue-background;
    color: white;
  }
  &:active{
    background-color: $dialogue-background;
    color: white;
  }
}

.center-vertical {
  top: 50%;  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
