@import 'base';
nav {
  background-color: $base-color !important;
  box-shadow: 0 3px 5px 0 rgb(50, 50, 50);
}
.nav-link{
  font-size: 18px;
}

.navbar-brand {
  color: white;
  font-weight: 600;
}

#logout-button{
  width: 30px;
}
