{{#section 'head'}}
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/css/offer-page.css">
{{/section}}

{{#section 'body_scripts'}}
    <script src="/js/views/offers.min.js"></script>
{{/section}}

<section class="container">
    {{>container_header header_image="/img/layout/surveypage.svg" header_text="Surveys"}}

    <ul class="row offer-list" data-subid1="{{subid1}}">
        <div id="adblock-off">
            <img src="/img/layout/adblock.svg">
            <h1>You need to turn off adblock in order to see surveys.</h1>
        </div>
    </ul>
    <div id="infinite-trigger"></div>
</section>
