<section class="container">
    {{>container_header header_image="/img/nav/signup.svg" header_text="Unverified"}}
    <div class="text-center">
        <img src="/img/emailsent.svg" height="256px">
        <h1>Your account is unverified!</h1>
        <h3>You need to click the verification link inside of the email we've sent you before you can access this page.</h3>
    </div>
</section>
