{{#section 'head'}}
{{/section}}

<section class="container">
    <div class="container-header">
        <div class="row">
            <img class="col-12 img-fluid" src="/img/layout/about.svg">
            <h1 class="col-12 text-center">About</h1>
        </div>
    </div>

</section>

<script src="/js/views/offers.js"></script>
