<!--TODO add basic admin panel with info about users/payouts.-->
<div id="four04">admin panel :3</div>
<div id="userlist"><a href="/admin/users">User List</a></div>
<div id="banlist"><a href="/admin/users/banlist">Ban List</a></div>
<div id="prizelist"><a href="/admin/prizes">Prize List</a></div>
<div id="cashpendinglist"><a href="/admin/cashouts/pending">Pending Cashouts</a></div>
<div id="cashlist"><a href="/admin/cashouts/complete">Fulfilled Cashouts</a></div>