{{#section 'head'}}
    <link rel="stylesheet" href="/css/index.css">
{{/section}}

{{#section 'body_scripts'}}
    <script src="/js/views/landing.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
{{/section}}

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/video/main.mp4" type="video/mp4">
    </video>
    <div id="tagline">
        <h3 class="col-12">So... you've found us,</h3>
        <h2 class="col-12">are you ready to travel down the rabbit hole?</h2>
    </div>
</header>


<div class='container'>

    <div id="top-banner-group">
        <div class="row banner-info" id="top-info">
            <div class="landing-description">
                <h1>Welcome to Gamecat.</h1>
                <hr />
                <p>
                    Gamecat is an upcoming exclusive rewards site where you can earn gift cards for Steam, Amazon, League of Legends and more! Made by a dedicated team of gamers, for gamers,
                    you can wave goodbye to all the scams and spam and impress your friends with all the new loot you'll acquire. If you request an invite before the site launches we will give you a head start with 100 free coins.
                </p>
            </div>

        </div>

        <div class="row banner-info" id="signup-banner">
            <form class="signup-form" action="/" method="post">
                <h4 class="text-center">Request an invite and get 100 free coins.</h4>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required />
                </div>


                <div class="form-group text-right">
                    <input type="checkbox" name="agree" value="true" class="form-check-input" id="agree" required />
                    <label for="agree" class="form-check-label">I agree to recieve emails from Gamecat as well as the <a href="#">terms and conditions</a>.</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Request Invite</button>
                </div>
            </form>

        </div>
    </div>



    <div class="row banner-info" id="how-work">
        <div class="col-12 banner-info-header">
            <h2>How it works</h2>
        </div>

        <div class="col-md-4" id="complete-quests">
            <img src="/img/quest.svg" class="img-fluid" />
            <h4 class="text-center">1. Complete quests.</h4>
            <p class="text-left">
                Play new games, fill out surveys, or try out free trials for sites like Hulu, all for a reward! For every quest you complete coins will be added to your vault. We're always adding new ones so don't worry about us running out.
            </p>
        </div>
        <div class="col-md-4" id="tell-friends">
            <img src="/img/friend.svg" class="img-fluid" />
            <h4 class="text-center">2. Tell your friends.</h4>
            <p class="text-left">
                Got a Discord server? You and your friends can both earn 100 free coins if they sign up using your personal invite code. Not to mention you can earn up to 5% of whatever your referrals earn. You can also <a href="#">partner with
                us</a> for even better deals.
            </p>
        </div>
        <div class="col-md-4" id="get-loot">
            <img src="/img/treasure.svg" class="img-fluid" />
            <h4 class="text-center">3. Get epic loot.</h4>
            <p class="text-left">
                Once you've saved up as little as 500 coins you can exchange them for gift cards, premium currency, steam wallet, and more to be anounced. If you don't see what you want on the store you can always contact one of our staff members
                to suggest new products.
            </p>
        </div>
    </div>

    <div class="row banner-info" id="rewards">
        <div class="col-12 banner-info-header">
            <h2>What you can get</h2>
        </div>
        <div class="row" id="rewards-list">
            <div class="col-md-4 reward-item">
                <img src="/img/rewards/riotcards.png" class="img-fluid reward-img" />
                <h4 class="reward-name">League of Legends Gift Cards</h4>
            </div>
            <div class="col-md-4 reward-item">
                <img src="/img/rewards/steamwallet.png" class="img-fluid reward-img" />
                <h4 class="reward-name">Steam Gift Cards</h4>
            </div>
            <div class="col-md-4 reward-item">
                <img src="/img/rewards/xboxcards.png" class="img-fluid reward-img" />
                <h4 class="reward-name">XBox Store Gift Cards</h4>
            </div>
            <div class="col-md-4 reward-item">
                <img src="/img/rewards/googleplaycards.png" class="img-fluid reward-img" />
                <h4 class="reward-name">Google Play Store Gift Cards</h4>
            </div>
            <div class="col-md-4 reward-item">
                <img src="/img/rewards/itunescards.png" class="img-fluid reward-img" />
                <h4 class="reward-name">iTunes Gift Cards</h4>
            </div>
            <div class="col-md-4 reward-item">
                <img src="/img/rewards/amazongiftcards.png" class="img-fluid reward-img" />
                <h4 class="reward-name">Amazon Gift Cards</h4>
            </div>


        </div>
        <h2 class="col-12 text-center">And more!</h2>
    </div>
</div>
