{{#section 'head'}}
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="/css/offer-page.css">
{{/section}}

<section class="container">
    <div class="container-header">
        <div class="row">
            <img class="col-12 img-fluid" src="/img/layout/surveypage.svg">
            <h1 class="col-12 text-center">Surveys</h1>
        </div>
    </div>
    <ul class="row offer-list" data-subid1="{{subid1}}">

    </ul>
    <div id="infinite-trigger"></div>
</section>

<script src="/js/views/offers.js"></script>
