{{#section 'head'}}<link rel="stylesheet" href="/css/offer-page.css">{{/section}}

<ul class="row offer-list" data-subid1="{{subid1}}">

</ul>
<!--TODO make pagination work completely, have it load all on same page instead of over multiple.-->
<div class="row pagination">
    <a href="#">&laquo;</a>
    <div class="pagination-numbers">
    </div>
    <a href="#">&raquo;</a>
</div>
<script src="/js/views/offers.js"></script>
