<div style="margin:20px auto" class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th style="width:50px;text-align:center">#</th>
            <th style="width:220px">Name</th>
            <th style="width:220px">Username</th>
            <th style="width:240px">Location</th>
            <th>Account Created</th>
        </tr>
        </thead>
        <tbody></tbody>{{for (var i = 0; i < accts.length; i++)}}
    </table>
</div>