<p>Your referral link is: </p> <textarea readonly>{{ref_link}}</textarea>
<h2>Your referrals</h2>
<table>
    {{#each referrals}}
        <tr>
            {{this}}
        </tr>
    {{/each}}
</table>
