{{#section 'head'}}
    <link rel="stylesheet" href="/css/account.css">
{{/section}}

{{#section 'body_scripts'}}
    <script src="/js/views/signup.js"></script>
    <script src="/js/controllers/signupController.js"></script>
    <script src="/js/form-validators/accountValidator.js"></script>
{{/section}}

<div id="account-form-container" class="center-vertical card card-body">
    {{>"registration" ref_by=ref_by}}
</div>
{{>"modals/alert"}}

