#account-form-container label {
  text-align: right;
  margin-top: 2px; }

#account-form-container input, #account-form-container select {
  font-size: 0.875rem; }

#account-form-container .col-sm-9 {
  padding-left: 0; }

#account-form-container .margin-zero {
  margin-bottom: 0; }

#account-form-container .form-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end; }

#account-form-container .form-buttons > :not(:last-child) {
  margin-right: 0.5rem; }
