.container {
  overflow: hidden;
  padding: 0;
  background-color: #212121; }

.jumbotron {
  background-image: url("/img/jumbotron.webp");
  min-height: 50vh;
  margin-bottom: 0;
  border-radius: 0;
  padding: 20vh 8vh 20vh 8vh;
  box-shadow: 0px 5px 15px 2px #323232; }

.display-4 {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; }

.index-info {
  background-color: #767D92;
  margin-bottom: 0; }
  .index-info .index-desc {
    text-align: center;
    min-height: 60px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    color: white; }

.info-bar {
  margin-left: 0;
  margin-top: 0; }
  .info-bar .banner-info {
    padding: 30px;
    box-sizing: border-box;
    min-height: 215px; }
    @media screen and (max-width: 767px) {
      .info-bar .banner-info > .col-md-4 {
        text-align: center !important; } }
    .info-bar .banner-info h1 {
      margin-top: 50px;
      font-size: calc(1.4em + 1vw); }
      @media screen and (max-width: 767px) {
        .info-bar .banner-info h1 {
          text-align: center !important; } }
    .info-bar .banner-info img {
      max-width: 100%;
      max-height: 175px;
      line-height: 100%; }
      @media screen and (max-width: 991px) {
        .info-bar .banner-info img {
          margin-top: 25px; } }
      @media screen and (max-width: 767px) {
        .info-bar .banner-info img {
          float: none; } }
  .info-bar #complete-quests {
    background-color: #495057; }
  .info-bar #epic-loot {
    background-color: #26aeda; }
    .info-bar #epic-loot > h1 {
      text-align: right; }
  .info-bar #play-for-keeps {
    background-color: #495057;
    -webkit-box-pack: center;
            justify-content: center; }
    .info-bar #play-for-keeps > h1 {
      font-size: 48px;
      color: #f3685c; }

#login {
  position: fixed;
  width: 25vw;
  height: 33vw;
  z-index: 4; }
  #login form {
    background-color: #212121; }

.reward-item a {
  color: white; }
  .reward-item a:hover {
    color: #e6e6e6; }

.graphic-panel {
  padding: 0; }

.signup-index {
  padding: 0;
  background-color: #3b3b3b; }
