.hero {
  position: relative;
  background-color: black;
  height: 45vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 5px 15px 2px #323232; }
  .hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .hero video::-webkit-media-controls {
      display: none !important; }
  .hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #303030;
    opacity: 0.3;
    z-index: 1;
    text-align: center; }
    .hero .overlay .mascot-img {
      height: 90%;
      position: center;
      margin-top: 30px; }
      @media screen and (max-width: 991px) {
        .hero .overlay .mascot-img {
          width: 100%;
          height: auto; } }
  .hero #tagline {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    -webkit-box-pack: center;
            justify-content: center;
    z-index: 3;
    display: block;
    text-align: center; }
    .hero #tagline h3 {
      color: #fff; }

.container .banner-info {
  margin: 0 -15px 0 -15px; }
  .container .banner-info .banner-info-header {
    background-color: #485461;
    background-image: linear-gradient(7deg, #383b47 0%, #23272c 74%);
    box-shadow: 0px 5px 15px 2px #323232;
    margin-bottom: 0;
    padding: 25px;
    z-index: 2;
    width: 100%;
    text-align: center; }

.container #top-banner-group {
  background-color: #a4508b;
  background-image: linear-gradient(168deg, #c35a9e 0%, #5b367a 54%);
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden; }

.container #top-info {
  padding: 25px; }
  .container #top-info .landing-description {
    margin-top: 40px;
    text-align: center; }
    .container #top-info .landing-description h1 {
      text-align: center; }
      .container #top-info .landing-description h1 span {
        padding: 0 10px 0 10px;
        background-color: rgba(1, 1, 1, 0.5); }
    .container #top-info .landing-description p {
      font-size: 18px;
      padding: 20px; }

.container #signup-banner {
  background-color: #262626;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 60px;
  border-radius: 300px 300px 0 0; }

.container #how-work {
  text-align: center; }
  .container #how-work img.img-fluid {
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5)); }
  .container #how-work #complete-quests {
    padding: 20px;
    background-color: #389bda; }
  .container #how-work #tell-friends {
    padding: 20px;
    background-color: #303030; }
  .container #how-work #get-loot {
    padding: 20px;
    background-color: #4f5761; }

.feature {
  padding: 30px;
  text-align: center;
  font-size: 1.5rem; }
  .feature img {
    height: 100%;
    max-height: 256px;
    width: auto; }
  .feature p {
    margin-top: 2rem; }

#dailybonus {
  background-color: #343944; }

#levelup {
  background-color: #8cacac; }

#rewards {
  background-color: #414141;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%); }
  #rewards #rewards-list {
    padding: 35px; }

.form-check-label {
  font-size: 12px; }

.reward-item {
  margin: 25px 0 25px; }
  .reward-item:hover img {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.35));
            filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.35)); }
  .reward-item a {
    color: #EFEFEF !important; }
    .reward-item a:hover {
      color: white; }
  .reward-item .reward-img {
    max-height: 250px; }
  .reward-item .reward-name {
    margin-top: 25px;
    text-align: center; }

#signup {
  margin-left: 40px;
  max-height: 200px; }

.social-login {
  -webkit-box-pack: center;
          justify-content: center; }

.stylistic-header {
  font-size: 4rem;
  width: 100%;
  min-height: 50%;
  padding: 50px;
  text-align: center; }
  .stylistic-header span {
    margin-left: 1rem;
    padding-top: 2px; }

#to-play {
  text-align: right; }

.light-green {
  color: #68c481; }

.light-red {
  color: #f68b82; }

#get-paid-to-play {
  height: 10vh;
  min-height: 200px; }
  #get-paid-to-play img {
    height: 5vh;
    min-height: 100px;
    margin: 0 auto; }
  #get-paid-to-play h1 {
    margin-top: 2rem; }

#carousel {
  width: 100%;
  -webkit-filter: drop-shadow(0 0 20px rgba(109, 109, 109, 0.42));
          filter: drop-shadow(0 0 20px rgba(109, 109, 109, 0.42)); }

#total-earned {
  background-color: #170c2a; }
