header {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 15px 2px #323232;
  -moz-box-shadow: 0px 5px 15px 2px #323232;
  box-shadow: 0px 5px 15px 2px #323232; }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #353535;
    opacity: 0.3;
    z-index: 1; }
  header #tagline {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 200px;
    justify-content: center;
    z-index: 3;
    display: block;
    text-align: center; }
    header #tagline h3 {
      color: #fff; }

.container {
  background-color: #212121;
  padding-bottom: 25px;
  margin-bottom: 50px; }
  .container #top-banner-group {
    background-color: #8b33bb;
    margin-left: -15px;
    margin-right: -15px; }
  .container #top-info {
    padding: 25px; }
    .container #top-info .landing-description {
      margin-top: 40px; }
      .container #top-info .landing-description h1 {
        text-align: center; }
      .container #top-info .landing-description p {
        font-size: 18px;
        padding: 20px; }
  .container #signup-banner {
    background-color: #212121;
    justify-content: center;
    padding: 60px;
    border-radius: 300px 300px 0 0; }
  .container #how-work {
    margin-left: -15px;
    margin-right: -15px; }
    .container #how-work #complete-quests {
      padding: 20px;
      background-color: #389bda; }
    .container #how-work #tell-friends {
      padding: 20px;
      background-color: #353535; }
    .container #how-work #get-loot {
      padding: 20px;
      background-color: #495057; }

#rewards {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 25px;
  background-color: #353535; }
  #rewards #rewards-list {
    padding: 35px; }

.form-check-label {
  font-size: 12px; }

.banner-info-header {
  background-color: #767D92;
  -webkit-box-shadow: 0px 5px 15px 2px #323232;
  -moz-box-shadow: 0px 5px 15px 2px #323232;
  box-shadow: 0px 5px 15px 2px #323232;
  margin-bottom: 0;
  padding: 25px;
  z-index: 2; }

.reward-item {
  margin: 25px 0 25px; }
  .reward-item .reward-img {
    max-height: 250px; }
  .reward-item .reward-name {
    margin-top: 25px;
    text-align: center; }

#signup {
  margin-left: 40px;
  max-height: 200px;
  width: auto; }
