.social-login {
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 10px; }
  .social-login .sb {
    margin: 10px; }

#login {
  width: 380px; }
  #login figure {
    width: 100%;
    margin-bottom: 25px; }
  #login img {
    display: block;
    margin: 0 auto;
    min-height: 64px;
    max-height: 128px; }
  #login .btn {
    float: left;
    width: 48%;
    font-size: 0.8rem;
    font-weight: 700; }
  #login .btn-btm {
    padding: 0; }
  #login .btn-left {
    margin-right: 4%; }
  #login #btn_sign_in {
    background-color: #8b33bb;
    outline: none;
    border: none;
    color: white; }
    #login #btn_sign_in:hover {
      background-color: #6d2893; }
  #login #btn_remember {
    color: white; }
  #login h6, #login label {
    font-size: 0.8rem; }
  #login h6, #login label {
    color: white; }
  #login .fa {
    padding-right: 10px; }
  #login hr {
    clear: left; }
  #login .btm-links {
    font-size: .9rem;
    font-weight: 600;
    margin: 2px 0 0 0; }
    #login .btm-links #forgot-password {
      float: left;
      margin-left: 16px; }
    #login .btm-links #create-account {
      float: right;
      margin-right: 20px; }

.fb-login-button {
  margin-top: 10px; }

#my-signin2 {
  margin-top: 10px; }
