.modal .modal-dialog {
  width: 480px; }
  .modal .modal-dialog .modal-content {
    background-color: #353535; }

.modal .form-group {
  margin-bottom: 0px; }

.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px; }

.modal .alert-dismissable, .modal .close {
  right: -4px; }

.modal p {
  margin: 0;
  padding: 0; }

.modal .modal-footer button {
  width: 80px; }

nav {
  z-index: 6;
  background-color: #212121 !important;
  box-shadow: 0 3px 5px 0 #323232; }

.nav-link {
  font-size: 18px; }

.navbar-brand {
  color: white;
  font-weight: 600; }

#logout-button {
  margin-left: 30px;
  width: 30px; }

.row {
  margin: 0; }

body {
  background-color: #505050;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white; }

footer {
  min-height: 50px;
  width: 100vw;
  background-color: #212121; }

h1 {
  font-weight: 600; }

h2 {
  margin: 0 0 6px 0;
  font-weight: bold; }

hr {
  margin: 14px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white; }

ul {
  margin: 4px 0 0 0; }

input {
  background-color: #495057; }

.card {
  background-color: #212121; }

form {
  box-sizing: border-box;
  padding: 15px; }
  form .header-reg {
    padding-top: 15px; }
  form h2 {
    color: #f2ba4a; }
  form label, form h6 {
    color: white;
    text-shadow: none;
    font-size: 13px;
    font-weight: normal; }
  form .form-buttons {
    margin-top: 10px;
    -webkit-box-pack: right;
            justify-content: right; }

.form-control {
  background-color: #495057;
  color: white; }
  .form-control:focus {
    background-color: #495057;
    color: white; }
  .form-control:active {
    background-color: #495057;
    color: white; }

.center-vertical {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.container {
  box-shadow: 0px 0px 15px 2px #323232; }

.col-form-label {
  margin-right: 25px; }
