.modal .modal-dialog {
  width: 480px; }

.modal .form-group {
  margin-bottom: 0px; }

.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px; }

.modal .alert-dismissable, .modal .close {
  right: -4px; }

.modal p {
  margin: 0;
  padding: 0; }

.modal .modal-footer button {
  width: 80px; }

nav {
  height: 50px;
  background-color: #212121 !important; }

.navbar-brand {
  color: white; }

.nav-item {
  padding: 20px;
  font-weight: 600;
  font-size: 1.25rem; }
  .nav-item a {
    color: white;
    text-decoration: none; }
  .nav-item a:hover {
    color: #c6a1fc; }

.nav-point-balance {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: 20px;
  min-width: 48px;
  margin-right: 48px; }

.row {
  margin: 0; }

html {
  height: 100%; }

body {
  background-color: #303030;
  margin: 0;
  padding: 0;
  height: 100%; }

h2 {
  margin: 0 0 6px 0;
  font-weight: bold; }

hr {
  margin: 14px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white; }

ul {
  margin: 4px 0 0 0; }

label, h6 {
  color: #808080;
  font-size: 13px;
  font-weight: normal;
  text-shadow: -1px 1px 0 #fff; }

.center-vertical {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
