.modal .modal-dialog {
  width: 480px; }
  .modal .modal-dialog .modal-content {
    background-color: #272727; }

.modal .form-group {
  margin-bottom: 0px; }

.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px; }

.modal .alert-dismissable, .modal .close {
  right: -4px; }

.modal p {
  margin: 0;
  padding: 0; }

.modal .modal-footer button {
  width: 80px; }

nav {
  height: 50px;
  background-color: #212121 !important; }

.nav-item {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  display: inline-block; }
  .nav-item a {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: inherit; }
  .nav-item a:hover {
    color: #f6a923; }

.navbar-brand {
  color: white;
  font-weight: 600; }

.row {
  margin: 0; }

html {
  height: 100%; }

body {
  background-color: #303030;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white; }

h2 {
  margin: 0 0 6px 0;
  font-weight: bold; }

hr {
  margin: 14px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white; }

ul {
  margin: 4px 0 0 0; }

input {
  background-color: #495057; }

.card {
  background-color: #212121; }

form {
  box-sizing: border-box;
  padding: 15px; }
  form .header-reg {
    padding-top: 15px; }
  form h2 {
    color: #26aeda; }
  form label, form h6 {
    color: white;
    text-shadow: none;
    font-size: 13px;
    font-weight: normal; }
  form .form-buttons {
    margin-top: 10px;
    justify-content: right; }

.form-control {
  background-color: #495057;
  color: white; }
  .form-control:focus {
    background-color: #495057;
    color: white; }
  .form-control:active {
    background-color: #495057;
    color: white; }

.center-vertical {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
