nav {
  height: 50px;
  background-color: #212121 !important;
  box-shadow: 0 3px 5px 0 #323232; }

.nav-item {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  display: inline-block; }
  .nav-item a {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: inherit; }
  .nav-item a:hover {
    color: #f6a923; }

.navbar-brand {
  color: white;
  font-weight: 600; }
