.container {
  padding: 50px 30px 30px; }

.offer-tabs {
  margin-bottom: 35px; }
  .offer-tabs div.col-6 {
    padding: 0; }
    .offer-tabs div.col-6 img {
      max-height: 128px; }
    .offer-tabs div.col-6 h1 {
      display: inline; }

.offer-list {
  list-style: none;
  min-height: 80%;
  box-sizing: border-box; }
  .offer-list .col-md-6 {
    padding: 0; }
  .offer-list .offer-item {
    -webkit-box-pack: center;
            justify-content: center;
    padding: 35px; }
    .offer-list .offer-item .offer-image {
      margin: 0 auto 15px auto; }
    .offer-list .offer-item .offer-link {
      -webkit-box-pack: center;
              justify-content: center;
      text-align: center;
      font-size: 16px;
      font-weight: 500; }
    .offer-list .offer-item .offer-reward {
      text-align: center; }
    .offer-list .offer-item .offer-description {
      text-align: center; }
