.offer-list {
  list-style: none;
  min-height: 80%;
  box-sizing: border-box; }
  .offer-list .offer-item {
    justify-content: center; }
    .offer-list .offer-item .offer-image {
      margin: 0 auto 15px auto; }
    .offer-list .offer-item .offer-link {
      justify-content: center;
      text-align: center;
      font-size: 16px;
      font-weight: 500; }
    .offer-list .offer-item .offer-reward {
      text-align: center; }
    .offer-list .offer-item .offer-description {
      text-align: center; }

.pagination {
  justify-content: center;
  font-size: 1.5rem; }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s; }
    .pagination a:hover:not(.active) {
      background-color: #ddd; }
    .pagination a .active {
      background-color: dodgerblue;
      color: white; }
