#carousel {
  margin: 30px;
  height: 500px; }
  #carousel .carousel-inner {
    margin: 20px;
    border-radius: 15px;
    height: auto; }
  #carousel .carousel-item {
    text-align: center; }
    #carousel .carousel-item img.d-block {
      background-color: #5e6477; }
    #carousel .carousel-item .carousel-caption {
      background-color: #3a3e49;
      position: relative;
      bottom: 0;
      left: 0; }
