@media screen and (min-width: 991px) {
  .prize-list {
    padding: 50px; } }

.prize {
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  overflow: hidden; }
  .prize a {
    color: white; }
    .prize a:hover {
      color: white; }
    .prize a:visited {
      color: white; }
  .prize .prize-head {
    margin: 30px 30px 0 30px;
    z-index: 0;
    padding: 5px; }
    .prize .prize-head .prize-img {
      width: 100%;
      max-width: 256px;
      padding: 10px; }
  .prize .prize-info {
    -webkit-box-pack: center;
            justify-content: center;
    box-shadow: 0 0 8px #5e6477;
    border-top: none;
    border-radius: 0 0 5px 5px; }
    @media screen and (min-width: 991px) {
      .prize .prize-info {
        margin: 0 30px 0 30px; } }
    .prize .prize-info .prize-name {
      width: 100%;
      padding: 10px;
      margin: 0; }
    .prize .prize-info .prize-price {
      background-color: #8b33bb;
      text-align: center;
      width: 100%;
      padding: 5px;
      margin: 0; }
    .prize .prize-info .prize-desc {
      background-color: #485461;
      background-image: linear-gradient(315deg, #262e39 0%, #35353f 74%);
      border: 4px solid #2b2b2b;
      padding: 10px;
      margin: 0;
      border-radius: 0 0 5px 5px; }
