.prize-list {
  padding: 50px; }

.prize {
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px; }
  .prize a {
    color: white; }
    .prize a:hover {
      color: white; }
    .prize a:visited {
      color: white; }
  .prize .prize-img {
    max-height: 256px;
    padding: 10px; }
  .prize .prize-info {
    -webkit-box-pack: center;
            justify-content: center; }
    @media screen and (min-width: 991px) {
      .prize .prize-info {
        margin: 0 30px 0 30px; } }
    .prize .prize-info .prize-name {
      width: 100%;
      padding: 10px;
      margin: 0; }
    .prize .prize-info .prize-price {
      background-color: #8b33bb;
      text-align: center;
      width: 100%;
      padding: 5px;
      margin: 0; }
    .prize .prize-info .prize-desc {
      background-color: #495057;
      padding: 10px;
      margin: 0;
      border-radius: 0 0 5px 5px; }
