.container .social-login {
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 10px; }
  .container .social-login .fb-login-button {
    margin: 10px; }
  .container .social-login #my-signin2 {
    margin: 10px; }

.form-group {
  margin-bottom: 30px; }
  .form-group input {
    margin-bottom: 15px; }
