.odometer {
  padding: 25px;
  background-image: url("/img/textures/wavy-dots.png");
  opacity: 0.7;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: calc(4rem + 5vw);
  min-height: 256px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500; }
  .odometer .total {
    background-color: #2b2b2b;
    color: #FFFFFF;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.42));
            filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.42)); }
