{{#unless user.daily_bonus_claimed}}
    <div class="col-12 pt-2 daily-bonus">
        <h4>Daily Bonus Available!</h4>
        <p>Complete your first survey of the day and get 50% more crystals!</p>
    </div>
{{/unless}}
