{{#if event}}
    <div class="row banner-info text-center justify-content-center" id="event-info">
        <div class="col-12 pt-4">
            <h1>{{modifierText}}x Crystal Event Active!</h1>
            <p>Get {{modifierText}}x the crystals for each quest and survey you complete until {{event.endDate}}!</p>
        </div>
    </div>
{{/if}}
