<div class="odometer">
    <div class="digit">
        <div class="digit-container digit-hundred">{{totalEarned}}<img src="/img/crystal.svg" alt="crystals" class="crystal-ico" /></div>
    </div>
</div>
