<div class="odometer">
    <div class="digit">
        <div class="digit-container digit-hundred">
            <span class="total">
                ${{totalEarned}}
            </span>

        </div>
    </div>
</div>
