<section class="hero">
    <div class="overlay">
        <img class="mascot-img" src="/img/nav/nav-logo.svg">
    </div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/video/main.mp4" alt="hero video" type="video/mp4">
    </video>

</section>
