<div id="level" data-level="{{user.level}}" data-cur-exp="{{user.current_level_experience}}">
    Level {{user.level}}
    <span class="row bonus-amount"></span>
</div>
<div class="xp-bar-container">
    <div class="xp-bar">

    </div>
</div>
