$base-color: #262626;
$lighter-base: lighten($base-color, 10%);
$container-color: #3a3e49;
$body-bg: #505050;
$dialogue-background: #4f5761;
$accent-cyan: #26aeda;
$accent-cyan-darker: #389bda;
$accent-purple: #8b33bb;
$link-color: #bb86fc;
$accent-red: #f3685c;
$accent-green: #4bd827;
$accent-yellow: #ffff50;
$accent-orange: #f6a923;
$accent-gold: #f2ba4a;
$secondary-purple: #767D92;
$accent-blue: #3700B3;
$button-green: #52bb6f;
$muted-purple: #574f57;
$container-header-bg: rgba(0, 0, 0, 0.4);

$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
