@import "base";
.hero {
  position: relative;
  background-color: black;
  height: 45vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  -moz-box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
  video {
    &::-webkit-media-controls {
      display:none !important;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $lighter-base;
    opacity: 0.3;
    z-index: 1;
    text-align: center;
    .mascot-img{
      height: 90%;
      position: center;
      margin-top: 30px;
      @media screen and(max-width: $breakpoint-md){
        width: 100%;
        height: auto;
      }
    }
  }

  #tagline{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 200px;
    justify-content: center;
    z-index: 3;
    display: block;
    text-align: center;
    h3{
      color: #fff;
    }
  }
}


.container{
  .banner-info{
    margin: 0 -15px 0 -15px;
    .banner-info-header{
      background-color: #485461;
      background-image: linear-gradient(7deg, #383b47 0%, #23272c 74%);
      -webkit-box-shadow: 0 5px 15px 2px rgba(50,50,50,1);
      -moz-box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
      box-shadow: 0px 5px 15px 2px rgba(50,50,50,1);
      margin-bottom: 0;
      padding: 25px;
      z-index: 2;
      width: 100%;
      text-align: center;
    }
  }

  #top-banner-group{
    background-color: #a4508b;
    background-image: linear-gradient(168deg, #c35a9e 0%, #5b367a 54%);
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
  }

  #top-info{
    padding: 25px;
    .landing-description{
      margin-top: 40px;
      text-align: center;
      h1{
        text-align: center;
        span{
          padding: 0 10px 0 10px;
          background-color: rgba(.5,.5,.5,.5);
        }
      }
      p{
        font-size: 18px;
        padding: 20px;
      }
    }
  }

  #signup-banner{
    background-color: $base-color;
    justify-content: center;
    padding: 60px;
    border-radius: 300px 300px 0 0;
  }

  #how-work{
    text-align: center;
    img.img-fluid{
      filter: drop-shadow(0 0 20px rgba(0.3,0.3,0.3,0.5));
    }

    #complete-quests{
      padding: 20px;
      background-color: $accent-cyan-darker;
    }
    #tell-friends{
      padding: 20px;
      background-color: $lighter-base;
    }
    #get-loot{
      padding: 20px;
      background-color: $dialogue-background;
    }
  }
}

.feature{
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
  img{
    height: 100%;
    max-height: 256px;
    width: auto;
    filter: drop-shadow(0 0 20px rgba(109, 109, 109, 0.42));
  }
  p{
    margin-top: 2rem;
  }
}

#dailybonus{
  background-color: #3e3f44;
}

#levelup{
  background-color: #af5b7c;
}

#rewards{
  background-color: #414141;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  #rewards-list{
    padding: 35px;
  }
}

.form-check-label{
  font-size: 12px;
}

.reward-item{
  &:hover{
    img{
      filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.35));
    }
  }

  margin: 25px 0 25px;
  a{
    color: #EFEFEF !important;
    &:hover{
      color: lighten(#EFEFEF, 10%);
    }
  }
  .reward-img{
    max-height: 250px;
  }
  .reward-name{
    margin-top: 25px;
    text-align: center;
  }
}

#signup{
  margin-left: 40px;
  max-height: 200px;
}
.social-login{
  justify-content: center;
}

.stylistic-header{
  font-size: 4rem;
  width: 100%;
  min-height: 50%;
  padding: 50px;
  text-align: center;
  span{
    margin-left: 1rem;
    padding-top: 2px;
  }

}
#to-play{
  text-align: right;
}


.light-green{
  color: lighten($button-green, 6%);
}
.light-red{
  color: lighten($accent-red, 8%);
}

#get-paid-to-play{
  height:10vh;
  min-height: 200px;
  img{
    height: 5vh;
    min-height: 100px;
    margin: 0 auto;
  }
  h1{
    margin-top: 2rem;
  }
}
#carousel{
  width: 100%;
  filter: drop-shadow(0 0 20px rgba(109, 109, 109, 0.42));
}
#total-earned{
  background-color: #170c2a;
}
