@import "base";
@import 'social-buttons';
.social-login{
  text-align: center;
  justify-content: center;
  margin: 10px;
  .sb{
    margin: 10px;
  }
}
#login {
  figure{
    width: 100%;
    margin-bottom: 25px;
  }
  img{
    display: block;
    margin: 0 auto;
    min-height: 64px;
    max-height: 128px;
  }
  width: 380px;
  .btn {
    float: left;
    width: 48%;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .btn-btm {
    padding: 0;
  }
  .btn-left {
    margin-right: 4%;
  }
  #btn_sign_in {
    background-color: $accent-purple;
    outline: none;
    border: none;
    color: white;
    &:hover{
      background-color: darken($accent-purple, 10%);
    }
  }
  #btn_remember {
    color: white;
  }
  h6, label {
    font-size: 0.8rem;
  }
  h6, label{
    color: white;
  }
  .fa {
    padding-right: 10px;
  }
  hr {
    clear: left;
  }
  .btm-links {
    font-size: .9rem;
    font-weight: 600;
    margin: 2px 0 0 0;
    #forgot-password {
      float: left;
      margin-left: 16px;
    }
    #create-account {
      float: right;
      margin-right: 20px;
    }
  }
}
