@import 'base';
@import 'modals';
@import 'nav';
@import 'footer';
@import 'xpBar';
@import url('https://fonts.googleapis.com/css?family=Cardo|Oswald&display=swap');
@mixin raiseText() {
  color: grey;
  text-shadow: -1px 1px 0 white;
}

.row{
  margin: 0;
}

body {
  min-height: 100%;
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Red Hat Display', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
main{
  min-height: 100vh;
  position: relative;
  a{
    color: $link-color;
    &:hover{
      text-decoration: none;
      color: lighten($link-color, 8%);
    }
    &:visited{
      color: $link-color;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        color: lighten($link-color, 8%);
      }
    }
  }
}



h1{
  font-weight: 600;
}

h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}

hr {
  margin: 14px 0;
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(255, 255, 255);
}

ul {
  margin: 4px 0 0 0;
}

input{
  background-color: $dialogue-background;
}

.card{
  background-color: $base-color;
}

form{
  box-sizing: border-box;
  padding: 15px;

  .form-group{
    outline: none !important;
  }
  .form-control{
    outline: none;
    border: none;
    background-color: inherit;
    color: white;
    border-bottom: 2px solid $accent-purple;
    &:focus {
      background-color: $dialogue-background;
      color: inherit;
      outline: none !important;
      border: none !important;
      border-bottom: 2px solid $accent-purple !important;
    }
    &:-webkit-autofill{
      -webkit-text-fill-color: #fff;
    }
    &:disabled, &[readonly]{
      background-color: $dialogue-background !important;
    }
  }

  .header-reg{
    padding-top: 15px;
  }
  label, h6  {
    color: white;
    text-shadow: none;
    font-size: 13px;
    font-weight: normal;
  }
  .form-buttons{
    margin-top: 10px;
    justify-content: center;
  }
}

.table-dark{
  background-color: inherit !important;
}

.center-vertical {
  top: 50%;  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  background-color: $lighter-base;
  padding-bottom: 25px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(50,50,50,1);
  -moz-box-shadow: 0px 0px 15px 2px rgba(50,50,50,1);
  box-shadow: 0px 0px 15px 2px rgba(50,50,50,1);
  .container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: lighten($base-color, 2%);
    background-image: url("/img/textures/cubes.png");
    border-bottom: 7px solid $secondary-purple;
    box-shadow: 0 3px 5px 0 rgb(50, 50, 50);

    .row{
      padding: 10px;
      background-color: $container-header-bg;
      justify-content: center;
      img{
        width: 100%;
        max-width: 200px;
      }
    }

  }
}

.col-form-label{
  margin-right: 25px;
}

.crystal-ico{
  height: 16px;
  width: auto;
  display: inline-block;
  position: relative;
  bottom: 1px;
}

#event-info{
  background-color: $button-green;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 5px solid darken($button-green, 10%);
}

.daily-bonus{
  background-color: $button-green;
  text-align: center;
  border-bottom: 5px solid darken($button-green, 10%);
}
