@import "base";
.modal {

  .modal-dialog {
    width: 480px;

    .modal-content{
      background-color: $lighter-base;
    }
  }
  .form-group {
    margin-bottom: 0px;
  }
  .alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 8px 15px 8px 15px;
  }
  .alert-dismissable, .close {
    right: -4px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .modal-footer {
    button {
      width: 80px;
    }
  }
}
.modal-body > p{
  text-align: center;
  justify-content: center;
}
