@import 'base';
@import url('https://fonts.googleapis.com/css?family=Lexend+Peta|Roboto+Mono&display=swap');

header{
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 3px solid $accent-purple;
  nav {
    width: 100%;
    min-height: 63px;
    z-index: 5;
    background-color: $base-color !important;
    box-shadow: 0 3px 5px 0 rgb(50, 50, 50);
    .nav-item{
      color: rgba(255,255,255,.5);
      margin-left: 25px;
      font-family: 'Roboto Mono', monospace !important;
      img{
        height: 21px;
        margin-right: 5px;
        position: relative;
        bottom: 2px;
      }
      &:hover{
        filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.3));
      }
    }
    .crystal-ico{
      height: 16px !important;
    }

    .nav-link{
      font-size: 18px;
    }
    .navbar-brand {
      color: white;
      font-weight: 500;
      font-family: 'Lexend Peta', sans-serif;
      #navbar-logo{
        height: 14px;
        position: relative;
        bottom: 2px;
        margin-right: 10px;
      }
    }
  }
}



