@import 'base';

#adblock-off{
  max-height: 256px;
  width: 100%;
  justify-content: center;
  text-align: center;
  img{
    height: 60%;
  }
}

#offers-tabs{
  padding: 20px 20px 0px 20px;
  .nav-item{
    .nav-link{
      color: white !important;
      &.active.nav-fill{
        background-color: $accent-purple;
      }
    }
  }
}

.offer-tabs{
  margin-bottom: 35px;
  div.col-6{
    img{
      max-height: 128px;
    }
    h1{
      display: inline;
    }
    padding: 0;
  }
}

.offer-list{
  list-style: none;
  box-sizing: border-box;
  padding: 0;

  .col-md-6{
    padding: 0;
  }
  .offer-item {
    justify-content: center;
    border-radius: 7px;
    margin: 35px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));

    .offer-link {
      justify-content: center;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: white;
      &:hover{
        color: $accent-yellow;
      }
    }
    .offer-image{
      object-fit: cover;
      object-position: 50% 50%;
      max-height: 200px;
      width: 100%;
    }
    .offer-reward {
      width: 100%;
      text-align: center;
      background-color: #485461;
      background-image: linear-gradient(315deg, #262e39 0%, #35353f 74%);
      margin-bottom: 0;
    }
    .offer-info{
      background-color: $dialogue-background;
      padding: 10px;
      width: 100%;
      .offer-description{
        @media(hover: hover){
          //display: none;
          height: 100%;
          width: 100%;
        }
        padding: 10px;
        text-align: center;
        font-size: 14px;
        margin: 0;
      }
      .offer-conditions{
        font-size: .8rem;
        text-align: center;
      }
    }
  }
}


