@import 'base';
#carousel{
  .carousel-inner{
    height: auto;
  }
  .carousel-item{
    text-align: center;


    img.d-block{
      object-fit: contain;
      object-position: center;
      max-height: 400px;
    }
    .carousel-caption{
      background-color: #3a3e49;
      position: relative;
      bottom:0;
      left:0;
    }
  }
}
