@import 'base';
.container {
  .social-login{
    text-align: center;
    justify-content: center;
    margin: 10px;
    .fb-login-button{
      margin: 10px;
    }

    #my-signin2{
      margin: 10px;
    }

  }
}
.form-group{
  margin-bottom: 30px;
  input{
    margin-bottom: 15px;
  }
}
