<div class="modal-form-errors modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Whoops!</h4><button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">It looks like there was a problem.
          <ul></ul>
      </div>
      <div class="modal-footer"><button data-dismiss="modal" class="btn btn-primary">OK</button></div>
    </div>
  </div>
</div>
