<div id="set-password" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4><button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form method="post" id="set-password-form">
          <div class="form-group"><label>Please enter your new password</label><input type="password" name="pass" id="pass-tf" class="form-control required">
            <div class="alert alert-danger hide"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer"><button type="submit" form="set-password-form" id="set-password-submit" class="btn btn-primary">Submit</button></div>
    </div>
  </div>
</div>