<div id="account-form-container" class="center-vertical card card-body">
    <form method="post" id="account-form">
        <h2>Account Information</h2>
        <h6 id="sub">Please tell us a little about yourself.</h6>
        <hr>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="user-tf">Username</label>
            <div class="col-sm-9"><input id="user-tf" type="text" name="username" value="{{user.username}}" class="form-control disabled"></div>
        </div>
        <div class="form-group row margin-zero">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="pass-tf">Password</label>
            <div class="col-sm-9"><input id="pass-tf" type="password" name="password" value="" class="form-control"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="email-tf">Email</label>
            <div class="col-sm-9"><input id="email-tf" type="email" name="email" value="{{user.email}}" class="form-control"></div>
        </div>
        <hr>
    </form>
    {{#if user.ref_by}}
        <div class="form-group row">
            <div class="col-sm-3 col-form-label col-form-label-sm" for="ref_by">Referred By</div>
            <div class="col-sm-9">{{user.ref_by}}</div>
        </div>
    {{/if}}

    <div class="form-buttons">
        <button type="button" id="account-form-btn1" class="btn btn-outline-dark" form="account-form"></button>
        <button type="submit" id="account-form-btn2" class="btn btn-primary" form="account-form"></button>
    </div>
</div>
<!-- display form errors in a custom modal window //-->
{{>"modals/form-errors"}}
