<footer class="page-footer font-small pt-4">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-5 mt-md-0 mt-3">
                <h5 class="navbar-brand">© 2019 Copyright: Gamecat.co</h5>
                <p class="site-description">Earn rewards for playing new games and voicing your opinions. Cash out into Steam wallet, Amazon, Playstation and XBox gift cards, and more! Quick and easy rewards for doing what you love.</p>
                <!-- TrustBox widget - Micro Review Count --> <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5d4b9240920cc7000178488a" data-style-height="24px" data-style-width="100%" data-theme="dark"> <a href="https://www.trustpilot.com/review/gamecat.co" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
            </div>

            <div class="col-md-7 mt-md-0 mt-3">
                <div class="row">
                    <div class="col-5 md-mb-0 mb-3">
                        <h6 class="navbar-brand">Helpful Links</h6>
                        <ul class="list-unstyled list-group">
                            <li class="list-group-item">
                                <a href="/shop">Shop</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/about">About</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/privacypolicy">Privacy Policy</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/tos">Terms of Service</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-7 md-mb-0 mb-3">
                        <h6 class="navbar-brand">Follow Us</h6>
                        <div class="row social-icons">
                            <div class="col-4 social-icon">
                                <a href="https://discord.gg/PpuDwaP"><img src="/img/socialmedia/discord.svg" alt="Discord"></a>
                            </div>
                            <div class="col-4 social-icon">
                                <a href="https://www.facebook.com/gamecatgg"><img src="/img/socialmedia/facebook.svg" alt="Facebook"></a>
                            </div>
                            <div class="col-4 social-icon">
                                <a href="https://twitter.com/gamecatgg"><img src="/img/socialmedia/twitter.svg" alt="Twitter"></a>
                            </div>
                            <div class="col-4 social-icon">
                                <a href="https://www.instagram.com/gamecatgg/"><img src="/img/socialmedia/instagram.svg" alt="Instagram"></a>
                            </div>
                            <div class="col-4 social-icon">
                                <a href="https://www.youtube.com/channel/UCPWLQpookHRukigMj7G_N7g"><img src="/img/socialmedia/youtube.svg" alt="Youtube"></a>
                            </div>
                            <div class="col-4 social-icon">
                                <a href="https://gamecatgg.tumblr.com/"><img src="/img/socialmedia/tumblr.svg" alt="Tumblr"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
