<div id="my-signin2"></div>
<script>

    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
        console.log(error);
    }
    function renderButton() {
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '1030276056125-vtv82bgbggango3bd351ijfc3drl7j3u.apps.googleusercontent.com',
                scope: 'profile email openid',
                cookiepolicy: 'single_host_origin',
                ux_mode: 'redirect',
                redirect_uri: 'https://gamecat.co/login/google/callback',

            });
        });

        gapi.signin2.render('my-signin2', {
            'scope': 'profile email openid',
            'width': 236,
            'height': 40,
            'longtitle': true,
            'theme': 'light',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
