<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav-item">
        <div class="navbar-brand">VBuxx</div>
    </div>
    <div class="navbar-nav ml-auto">
        <div class="nav-item">
            <a href="/offers">Offers</a>
        </div>
        <div class="nav-item nav-point-balance">
            {{user.points}}
        </div>
        <div class="nav-item">
            <button id="btn-logout" class="btn navbar-btn btn-outline-dark">Sign Out</button>
        </div>
    </div>
</nav>