<header>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/">
            <img id="navbar-logo" src="/img/nav/nav-logo.svg" >
            Gamecat
        </a>
        <ul class="navbar-nav ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#togglerContent" aria-controls="togglerContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="togglerContent">
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="earn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.points}} <img src="/img/crystal.svg" alt="crystals" class="crystal-ico"/>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="earn-dropdown">
                            <a class="dropdown-item" href="/offers">Quests</a>
                            <a class="dropdown-item" href="/offers/surveys">Surveys</a>
                            <a class="dropdown-item" href="/shop">Shop</a>
                        </div>
                    </li>

                    <li class="nav-item" id="level-information">
                        {{>widgets/xpBar}}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/account">
                            <img src="/img/nav/signup.svg" alt="Account"> {{user.username}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" id="btn-logout"><img src="/img/nav/signout.svg" id="logout-button" alt="Log Out"></a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/about">
                            <img src="/img/nav/about.svg" alt="About"> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">
                            <img src="/img/nav/signup.svg" alt="Sign Up"> Sign up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <img src="/img/nav/signin.svg" id="login-button" alt="Log in"> Log in
                        </a>
                    </li>
                {{/if}}
            </div>
        </ul>
    </nav>
    <script src="/js/controllers/xpController.min.js"></script>
</header>

