<!--TODO clean up html here, remove unnecessary divs-->
<div class="row social-login">
    <a href="/login/facebook" class="sb sb-facebook">Sign in with Facebook</a>
    <a href="/login/google" class="sb sb-google">Sign in with Google</a>
</div>

<hr>

<form action="/signup" method="post" id="account-form">
    <div class="form-group row">

        <div class="col-md-6">
            <input id="user-tf" type="text" name="username" placeholder="Username" value="" class="form-control disabled" pattern="^(?!.*__.*)(?!.*\.\..*)[a-zA-Z0-9_.]+$" required>
        </div>
        <div class="col-md-6">
            <input id="email-tf" type="email" name="email" placeholder="Email"  value="{{email}}" class="form-control" required>
        </div>
    </div>
    <div class="form-group row margin-zero">
        <div class="col-md-6">
            <input id="pass-tf" type="password" name="password" placeholder="Password" value="" class="form-control" minlength="6" pattern="\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*" required>
        </div>
        <div class="col-md-6">
            <input id="pass-verify-tf" type="password" name="password_verify" placeholder="Verify Password" value="" class="form-control" minlength="6" pattern="\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*" required>
        </div>

    </div>
    <div class="form-group row">

        <div class="col-12">
            <input id="ref_by" type="text" name="ref_by" placeholder="Referrer" value="{{ref_by}}" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="col-form-label col-form-label-sm" for="email_optin">Send me exclusive quests</label>
            <input id="email_optin" type="checkbox" value="true" {{#if agree}}checked{{/if}} name="email_optin">
        </div>
        <div class="col-6">
            <label class="col-form-label col-form-label-sm" for="terms_conditions">I agree to the terms & conditions</label>
            <input id="terms_conditions" type="checkbox" value="true" name="terms_conditions" {{#if agree}}checked{{/if}} required>
        </div>

    </div>
    <hr />
    <div class="row form-buttons">
        <button type="submit" id="account-form-btn2" class="btn btn-primary" form="account-form">Submit</button>
    </div>
</form>

<!-- display form errors in a custom modal window //-->

