<!--TODO clean up html here, remove unnecessary divs-->

<form action="/signup" method="post" id="account-form">
    <div class="header-reg">
        <h2>Signup</h2>
        <h6 id="sub">Please tell us a little about yourself.</h6>
    </div>
    <hr>
    <div class="form-group row">

        <div class="col-sm-12">
            <label for="user-tf">Username</label>
            <input id="user-tf" type="text" name="username" value="" class="form-control disabled" pattern="^(?!.*__.*)(?!.*\.\..*)[a-z0-9_.]+$" required>
        </div>
    </div>
    <hr>
    <div class="form-group row margin-zero">
        <div class="col-sm-6">
            <label for="pass-tf">Password</label>
            <input id="pass-tf" type="password" name="password" value="" class="form-control" minlength="6" pattern="\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*" required>
        </div>
        <div class="col-sm-6">
            <label for="pass-tf">Verify</label>
            <input id="pass-verify-tf" type="password" name="password_verify" value="" class="form-control" minlength="6" pattern="\S*(\S*([a-zA-Z]\S*[0-9])|([0-9]\S*[a-zA-Z]))\S*" required>
        </div>

    </div>
    <hr>
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="email-tf">Email</label>
            <input id="email-tf" type="email" name="email" value="{{email}}" class="form-control" required>
        </div>
    </div>
    <hr>
    <div class="form-group row">

        <div class="col-12">
            <label for="ref_by">Referrer</label>
            <input id="ref_by" type="text" name="ref_by" value="{{ref_by}}" class="form-control">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <label class="col-form-label col-form-label-sm" for="email_optin">Send me exclusive quests</label>
            <input id="email_optin" type="checkbox" value="true" {{#if agree}}checked{{/if}} name="email_optin">
        </div>
        <div class="col-6">
            <label class="col-form-label col-form-label-sm" for="terms_conditions">I agree to the terms & conditions</label>
            <input id="terms_conditions" type="checkbox" value="true" name="terms_conditions" {{#if agree}}checked{{/if}} required>
        </div>


    </div>
    <hr />
    <div class="row form-buttons">
        <button type="submit" id="account-form-btn2" class="btn btn-primary" form="account-form">Submit</button>
    </div>
</form>

<!-- display form errors in a custom modal window //-->
{{>"modals/form-errors"}}
